<header class='header z-10 fixed top-0 bg-base-100 h-14 w-full max-w-full'>
  <nav class='container flex justify-between items-center'>
    <div class='flex-1 flex items-center'>
      <%= link_to root_path, class: 'pt-1 pb-2' do %>
        <span class='font-bold text-3xl lowercase inline-block font-monospace'><%= helpers.signed_in? ? 'Chu' : 'Chuspace' %></span>
        <%= content_tag :span, 'axiom', class: 'text-xs text-secondary font-sans' %>
      <% end %>

      <%= after_logo_contents %>
    </div>

    <div class='flex items-center py-2'>
      <% if helpers.signed_in? %>
        <%= before_user_dropdown %>

        <div class='flex items-center'>
          <details class="dropdown dropdown-end">
            <summary tabindex="0" class="cursor-pointer" id='header-user-dropdown'>
              <%= render(Avatar::Component.new(avatar: Current.user.avatar, gravatar: Current.user.gravatar_url, fallback: Current.user.name.initials)) %>
            </summary>
            <details-menu tabindex="0" class="shadow menu dropdown-content bg-base-300 rounded-box w-52 z-50">
              <li>
                <%= content_tag :div, "Signed in as <strong>#{Current.user.username}</strong>".html_safe, role: 'menuitem', class: 'block text-current', tabindex: '-1' %>
              </li>
              <div class='divider my-1 h-0'></div>
              <li>
                <%= link_to 'Connect', connect_root_path, class: 'link link-hover', role: 'menuitem', tabindex: '-1' %>
              </li>
              <div class='divider my-1 h-0'></div>
              <li>
                <%= helpers.tab_link_to 'Your profile', user_path(Current.user), class: 'link link-hover', role: 'menuitem', tabindex: '-1' %>
              </li>
              <li>
                <%= helpers.tab_link_to ' Your posts', user_posts_path(Current.user), class: 'link link-hover', role: 'menuitem', tabindex: '-1' %>
              </li>
              <li>
                <%= helpers.tab_link_to 'Your publications', user_publications_path(Current.user), class: 'link link-hover', role: 'menuitem', tabindex: '-1' %>
              </li>
              <li>
                <%= helpers.tab_link_to 'Your drafts', user_drafts_path(Current.user), class: 'link link-hover', role: 'menuitem', tabindex: '-1' %>
              </li>
              <div class='divider my-1 h-0'></div>
              <li>
                <%= helpers.tab_link_to 'Write', publication_new_draft_path(Current.user.personal_publication), class: 'link link-hover', role: 'menuitem', tabindex: '-1' if Current.user.personal_publication.present? %>
              </li>
              <li>
                <%= helpers.tab_link_to 'Settings', setting_path(id: UserSetting::DEFAULT_PAGE), class: 'link link-hover', role: 'menuitem', tabindex: '-1' %>
              </li>
              <li>
                <%= button_to 'Sign out', session_path(Current.user), class: 'text-current', form: { role: 'menuitem', tabindex: '-1' }, method: :delete, remote: true %>
              </li>
            </details-menu>
          </details>
        </div>
      <% else %>
        <%= link_to 'Hello world', '/self/hello-world', class: 'link link-content text-sm ml-8' %>
        <%= link_to 'Sign up', signups_path, class: 'link link-content text-sm ml-8' %>
        <%= link_to 'Sign in', sessions_path, class: 'link link-content text-sm ml-8' %>
      <% end %>
    </div>
  </nav>
</header>
