<article class='border-base-200 border-b last:border-b-0 py-4'>
  <div class='flex-1'>
    <% if asset.type == 'file' %>
      <%= tag.h5 asset.name %>
      <%= tag.p asset.path, class: 'text-sm text-secondary mt-1 sm:w-2/3 w-full' %>
    <% else %>
      <%= link_to publication_assets_path(publication, asset), data: { 'turbo-frame': :_top } do %>
        <%= tag.h5 class: 'link link-primary link-hover' do %>
          <%= asset.name %>
          <%= content_tag :span, asset.type, class: 'badge badge-outline badge-secondary ml-2' %>
        <% end %>

        <%= tag.p asset.path, class: 'text-sm text-secondary mt-1 sm:w-2/3 w-full' %>
      <% end %>
    <% end %>
  </div>
</article>
