<% if avatar.attached? %>
  <div class="avatar">
    <lazy-image
      class='<%= class_name %>'
      rounded
      src='<%= avatar.variable? ? rails_public_blob_url(avatar.variant(variant).blob) : rails_public_blob_url(avatar) %>'
      title='<%= fallback %>'>
    </lazy-image>
  </div>
<% elsif gravatar.present? %>
  <div class="avatar">
    <lazy-image
      class='<%= class_name %>'
      rounded
      src='<%= gravatar %>'
      title='<%= fallback %>'>
    </lazy-image>
  </div>
<% else %>
  <div class="avatar placeholder bg-base-200 rounded-full">
    <div class="<%= class_name %>">
      <%= image_tag('', class: 'hidden') if uploader %>
      <span class="fallback"><%= fallback %></span>
    </div>
  </div>
<% end %>
