<auto-refresh-form>
  <%= simple_form_for user, url: sessions_path do |form| %>
    <%= form.input :email, as: :string, hint: false, error_html: { class: 'input-error' } %>
    <%= form.hint :email unless user.errors.key?(:email) %>

    <div class='mt-8 flex items-center justify-between'>
      <%= form.button :submit, 'Log in', title: 'Click to receive magic link', class: 'btn btn-primary mt-4', data: { 'turbo-frame': :_top } %>
      <%= link_to 'Other login options →', sessions_path, title: t('shared.login_prompt'), class: 'link link-primary block mt-3', data: { 'turbo-frame': :_top } %>
      <%= link_to 'Signup →', signups_path, title: t('shared.signup_prompt'), class: 'link link-primary block mt-3', data: { 'turbo-frame': :_top } %>
    </div>
  <% end %>
</auto-refresh-form>
