<%= turbo_frame_tag(:blog_settings, class: 'relative w-full block') do %>
  <h2 class='border-b pb-2'>Your blogs</h2>
  <%= link_to 'Add new blog', new_blog_path, class: 'button button--fill absolute right-0 top-0' %>

  <%= turbo_frame_tag :blogs do %>
    <div class='list'>
      <% Current.user.blogs.each do |blog| %>
        <%= turbo_frame_tag(blog) do %>
          <div class='list__item list__item--flex list__item--bordered'>
            <div class='flex items-center flex-1'>
              <%= inline_svg_tag "icons/#{blog.storage.provider}", class: 'fill-current mr-2 w-8 h-8' %>
              <%= tag.h3 blog.git_repo_name %>
            </div>
            <div class='flex items-center justify-between flex-end'>
              <%= link_to edit_blog_path(blog) do %>
                <%= inline_svg_tag 'icons/pencil' %>
              <% end %>

              <%= button_to blog_path(blog), method: :delete do %>
                <%= inline_svg_tag 'icons/trash', class: 'ml-2' %>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
<% end %>
<% end %>
