<%= turbo_frame_tag :dialogs do %>
  <%= simple_form_for @post.editions.new, url: user_blog_post_editions_path(@post.blog.owner, @post.blog, @post, @post.editions.new) do |form| %>
    <modal-box class='modal modal-open'>
      <div class="modal-box">
        <h4>Publish new edition</h4>
        <%= form.input :title %>
        <%= form.input :summary %>
        <%= form.input :published_at %>
        <%= form.input :visibility, as: :select, collection: Post.visibilities %>
        <%= form.input :topics_list %>

        <div class="modal-action">
          <%= form.button :submit, 'Create', for: 'revision-modal' %>
          <%= button_to 'Cancel', '#', class: 'btn btn-error btn-sm', 'data-action': 'click:chu-editor#closeRevisionsModal', for: 'revision-modal' %>
        </div>
      </div>
    </modal-box>
  <% end %>
<% end %>
