<%= turbo_frame_tag(blog) do %>
  <auto-refresh-form>
    <%= simple_form_for(blog, url: blogs_path, html: { class: 'relative', data: { target: 'auto-refresh-form.form', "turbo-frame": '_top' } }) do |form| %>
      <%= form.input :storage_id, as: :select, collection: Current.user.storages.external.pluck(:description, :id), autofocus: true, input_html: { 'data-action': 'change:auto-refresh-form#refresh' } %>
      <% if blog.storage.present? %>
        <auto-complete
          src="<%= storage_repos_path(blog.storage) %>"
          for="repos-popup"
          class='relative block'
          data-action='auto-complete-change:auto-refresh-form#refresh'>
          <%= form.input(
                :repo_fullname,
              as: :string,
              input_html: {
                value: blog.repo_fullname,
                'data-action': 'input:auto-refresh-form#reset',
              },
              wrapper_html: { class: 'relative' }
            ) %>
          <ul
            id="repos-popup"
            class='absolute z-10 bg-black border border-light-200 w-full'></ul>
        </auto-complete>
      <% end %>

      <div data-target='auto-refresh-form.loader'>
        <% if blog.repo_fullname.present? %>
          <%= form.input :name, required: true %>
          <%= form.input :description, as: :text, required: true %>
          <%= form.input :framework, as: :select, collection: Blog.frameworks %>
          <%= form.input :visibility, as: :select, collection: Blog.visibilities %>
        <% end %>
      </div>

      <div data-target='auto-refresh-form.loader'>
        <% if blog.repo_folders&.any? %>
          <%= form.input :repo_articles_path, as: :select, collection: blog.repo_folders %>
          <%= form.input :repo_drafts_path, as: :select, collection: blog.repo_folders %>
          <%= form.input :repo_assets_path, as: :select, collection: blog.repo_folders %>
          <%= form.input :repo_about_path, as: :select, collection: blog.repo_folders %>
        <% end %>
      </div>

      <%= form.input :type, as: :hidden, input_html: { value: :connect, name: 'type' } %>
      <%= form.button :submit, 'Connect', class: 'mt-12 loading' %>
    <% end %>
  </auto-refresh-form>
<% end %>
