<%= turbo_frame_tag(blog) do %>
  <auto-refresh-form>
    <%= simple_form_for(blog, html: { class: 'relative', data: { target: 'auto-refresh-form.form', "turbo-frame": '_top' } }) do |form| %>
      <%= form.input :storage_id, as: :select, collection: Current.user.storages.external.pluck(:description, :id), autofocus: true, input_html: { 'data-action': 'change:auto-refresh-form#refresh' } %>
      <% if blog.storage.present? %>
        <auto-complete
          src="<%= storage_repos_path(blog.storage) %>"
          for="repos-popup"
          class='relative block'
          data-action='auto-complete-change:auto-refresh-form#refresh'>
          <%= form.simple_fields_for :repository do |repo_form| %>
            <%= repo_form.input(
                :name,
              as: :string,
              input_html: {
                value: blog.repository&.name,
                'data-action': 'input:auto-refresh-form#reset',
              },
              wrapper_html: { class: 'relative' }
            ) %>
          <% end %>
          <ul
            id="repos-popup"
            class='absolute z-10 shadow menu dropdown-content bg-base-100 border w-full'></ul>
        </auto-complete>
      <% end %>

      <div data-target='auto-refresh-form.loader'>
        <% if blog.repository&.name&.present? %>
          <%= form.input :name, required: true %>
          <%= form.input :description, as: :text, required: true %>
          <%= form.input :visibility, as: :select, collection: Blog.visibilities %>
          <%= form.input :default %>
        <% end %>
      </div>

      <div data-target='auto-refresh-form.loader'>
        <% if blog.repository&.folders&.any? %>
          <%= form.simple_fields_for :repository do |repo_form| %>
            <%= repo_form.input :repo_articles_folder, as: :select, collection: blog.repository.folders %>
            <%= repo_form.input :repo_drafts_folder, as: :select, collection: blog.repository.folders %>
            <%= repo_form.input :repo_assets_folder, as: :select, collection: blog.repository.folders %>
            <%= repo_form.input :readme_path %>
          <% end %>
        <% end %>
      </div>

      <%= form.input :type, as: :hidden, input_html: { value: :connect, name: 'type' } %>
      <%= form.button :submit, 'Connect', class: 'mt-12 loading' %>
    <% end %>
  </auto-refresh-form>
<% end %>
