<% cache blog do %>
  <div class='border-b last:border-b-0 p-4 border-base-200'>
    <%= turbo_frame_tag(blog, class: 'flex') do %>
      <div class='flex-1'>
        <%= link_to(user_blog_path(blog.owner, blog), 'data-turbo-frame': :_top) do %>
          <%= tag.h5 class: 'link link-primary link-hover' do %>
            <%= blog.name %>
            <%= content_tag :span, blog.visibility, class: 'badge badge-outline badge-secondary ml-2' %>
          <% end %>
          <%= tag.div blog.description, class: 'text-secondary mt-1' %>

          <div class='mt-8 text-sm'>
            <%= blog.topic_list %>
            updated <%= time_ago_in_words(blog.updated_at) %> ago
            <%= content_tag :span, blog.storage.provider, class: 'badge badge-primary mr-2' %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
