<div class='mt-24 relative'>
  <h2><%= @blog.name %></h2>
  <p class='sm:w-2/3 w-full text-secondary'><%= @blog.description %></p>
  <%= link_to 'New article', new_blog_article_path(@blog), class: 'btn btn-primary btn-outline btn-sm absolute right-0' %>

  <div class='tabs mt-8' dir='horizontal'>
    <div role="tablist">
      <%= link_to 'About', new_blog_path, type: 'button', role: 'tab', 'aria-selected': 'true', class: 'tab' %>
      <%= link_to 'Recent posts', connect_blogs_path, type: 'button', role: 'tab', 'aria-selected': 'false', class: 'tab' %>
      <%= link_to 'Blogs', new_blog_path, type: 'button', role: 'tab', 'aria-selected': 'false', class: 'tab' %>
    </div>
  </div>

  <%= render 'articles/list', articles: @blog.articles %>
</div>
