<%= turbo_frame_tag dom_id(draft, :actions) do %>
  <% if allowed_to?(:action?, draft) %>
    <nav class='fixed bottom-0 shadow-xl h-14 z-10 bg-base-300 w-full'>
      <div class='container flex items-center justify-end h-full'>
        <% if @post&.errors&.present? %>
          <%= tag.span @post.errors.full_messages.to_sentence, class: 'text-error text-xs mr-4' %>
        <% end %>

        <%= content_tag :div, @draft.status, id: 'draft-status', class: 'text-secondary text-xs mr-4' %>
        <% if allowed_to?(:commit?, draft) %>
          <%= turbo_frame_tag(dom_id(draft, :new_commit)) do %>
            <%= button_to publication_new_commit_draft_path(publication, draft), method: :get, class: 'btn btn-primary btn-xs turbo-btn mr-4' do %>
              <div class="idle">Commit</div>
              <div class="loading">
                <div class='flex items-center'>
                  <div class='spinner on-button'></div>
                  <span class='ml-2'>Loading</span>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>

        <% if allowed_to?(:publish?, draft) %>
          <%= turbo_frame_tag(dom_id(draft, :new_publishing)) do %>
            <%= button_to publication_new_publish_draft_path(publication, draft), method: :get, class: 'btn btn-accent btn-xs turbo-btn mr-4' do %>
              <div class="idle">Publish</div>
              <div class="loading">
                <div class='flex items-center'>
                  <div class='spinner on-button'></div>
                  <span class='ml-2'>Loading</span>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </nav>
  <% end %>
<% end %>
