<flexible-header>
  <header data-target='flexible-header.element' class='header fixed z-50 top-0 bg-base-100 h-14 w-full'>
    <nav class='container flex justify-between items-center w-full h-full'>
      <%= link_to root_path, class: 'pt-1 pb-2' do %>
        <span class='font-bold text-3xl lowercase inline-block font-monospace'><%= logo %></span>
        <%= content_tag :span, 'axiom', class: 'text-xs font-sans' %>
      <% end %>

      <div class='flex items-center flex-1 w-1/2'>
        <div class='divider divider-vertical'></div>
        <div class='ml-8 flex w-2/3 overflow-x-auto'>
          <%= render 'shared/breadcrumbs' %>
        </div>
      </div>

      <div class='flex items-center'>
        <%= turbo_frame_tag dom_id(@draft, :actions), class: 'flex items-center' do %>
          <%= render 'publications/drafts/actions', draft: @draft, publication: @publication if @draft.persisted? %>
        <% end %>
        <%= render 'layouts/user' %>
      </div>
    </nav>
  </header>
</flexible-header>
