<flexible-header data-enabled='true'>
  <header data-target='flexible-header.element' class='header'>
    <nav class='container flex justify-between items-center h-full'>
      <%= link_to root_path do %>
        <h1 class='font-bold text-3xl lowercase inline-block font-monospace'>Chu</h1>
      <% end %>

      <div class='flex items-center flex-1'>
        <div class='divider divider-vertical'></div>
        <div class='ml-8'>
          <%= render 'shared/breadcrumbs' %>
        </div>
      </div>

      <div class='flex items-center'>
        <%= turbo_frame_tag dom_id(@draft, :actions), class: 'flex items-center' do %>
          <%= render 'publications/drafts/actions', draft: @draft, publication: @publication if @draft.persisted? %>
        <% end %>
        <%= render 'layouts/user' %>
      </div>
    </nav>
  </header>
</flexible-header>
