<% cache draft do %>
  <article class='border-b last:border-b-0 border-base-200 p-4'>
    <div class='flex-1'>
      <% path = draft.type == 'file' ? publication_edit_draft_path(publication, path: draft.path) : publication_draft_path(publication, path: draft.path) %>
      <% turbo_opts = draft.type == 'file' ? { data: { 'turbo-frame': :_top } } : { data: { 'turbo-frame': dom_id(@publication, :drafts) } } %>
      <%= link_to path, **turbo_opts do %>
        <%= tag.h5 class: 'link link-primary link-hover' do %>
          <%= draft.name %>
          <%= content_tag :span, draft.type, class: 'badge badge-outline badge-secondary ml-2' %>
        <% end %>

        <%= tag.p draft.path, class: 'text-sm text-secondary mt-1 sm:w-2/3 w-full' %>
      <% end %>
    </div>
  </article>
<% end %>
