<section class='lg:w-2/3 pb-24 mx-auto w-full chu-editor editable'>
  <chu-editor
      imageUploadPath='<%= publication_create_assets_path(@publication) %>'
      imageLoadPath='<%= publication_asset_path(@publication) %>'
      autoSavePath='<%= publication_autosave_draft_path(@publication, @draft) %>'
      editable
      <%= @draft.front_matter? ? '' : 'excludeFrontmatter' %>
    >
    <%= @draft.local_content.value %>
    <%= text_area_tag 'content', @draft.local_or_remote_content, class: 'hidden content' %>
  </chu-editor>
</div>
