<div class='sm:w-2/3 mx-auto w-full chu-editor editable'>
  <%= simple_form_for '', url: publication_update_draft_path(@publication, id: params[:id]) do |form| %>
    <div class='title' data-target='chu-editor.title'>
      <%= form.input :title, as: :string, label: false, wrapper: false, input_html: { class: 'w-full p-0 m-0 border-0 focus:outline-none focus:shadow-none text-4xl', value: @draft.title, placeholder: 'Title' } %>
    </div>

    <div class='summary' data-target='chu-editor.summary'>
      <%= form.input :summary, as: :text, label: false, wrapper: false, input_html: { rows: 2, class: 'w-full p-0 m-0 border-0 focus:outline-none focus:shadow-none text-xl mt-2', value: @draft.summary, placeholder: 'Type summary' } %>
    </div>

    <div
      class='block body mt-8'
      spellcheck="false"
      data-text='content'
      data-target='chu-editor.content'
    >
      <%= form.input :body, as: :text, label: false, wrapper: false, input_html: { class: 'hidden', value: @draft.body } %>

      <div class='modal' id='revision-modal' data-target='chu-editor.revisionsModal'>
        <div class="modal-box">
          <h4>Commit changes</h4>
          <%= form.input :message %>

          <div class="modal-action">
            <%= form.button :submit, 'Create', for: 'revision-modal' %>
            <%= button_to 'Cancel', '#', class: 'btn btn-error btn-sm', 'data-action': 'click:chu-editor#closeRevisionsModal', for: 'revision-modal' %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
