<div class='sm:w-2/3 mx-auto w-full chu-editor editable'>
  <%= turbo_frame_tag(@draft) do %>
    <%= simple_form_for @draft, url: publication_update_draft_path(@publication, @draft) do |form| %>
      <div class='title' data-target='chu-editor.title'>
        <%= form.input :title, as: :string, label: false, wrapper: false, input_html: { class: 'title-input', value: @draft.title, placeholder: 'Title' } %>
      </div>

      <div class='summary' data-target='chu-editor.summary'>
        <%= form.input :summary, as: :text, label: false, wrapper: false, input_html: { rows: 2, class: 'summary-input', value: @draft.summary, placeholder: 'Type summary' } %>
      </div>

      <div
        class='block body mt-8'
        spellcheck="false"
        data-text='content'
        data-target='chu-editor.content'
      >
        <%= form.input :body, as: :text, label: false, wrapper: false, input_html: { class: 'hidden', value: @draft.body } %>

        <div class='modal' id='revision-modal' data-target='chu-editor.revisionsModal'>
          <div class="modal-box">
            <h4>Commit changes</h4>
            <%= form.input :commit_message %>
            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

            <div class="modal-action">
              <%= form.button :submit, 'Create', for: 'revision-modal' %>
              <%= content_tag :button, 'Cancel', class: 'btn btn-error btn-sm', 'data-action': 'click:chu-editor#closeRevisionsModal', for: 'revision-modal' %>
            </div>
          </div>
        </div>

      </div>
    <% end %>
  <% end %>
</div>
