<section class='lg:w-2/3 pb-24 mx-auto w-full chu-editor editable'>
  <collaboration-editor
      imageUploadPath='<%= publication_create_assets_path(@publication) %>'
      imageLoadPath='<%= publication_asset_path(@publication) %>'
      autoSavePath='<%= publication_autosave_draft_path(@publication, @draft) %>'
      collaboration='<%= @collaboration_session.editor_attrs(user: Current.user) %>'
      editable
      <%= @draft.front_matter? ? '' : 'excludeFrontmatter' %>
    >
    <%= turbo_frame_tag(@draft) do %>
      <%= simple_form_for @draft, url: publication_update_draft_path(@publication, @draft), html: { 'data-turbo-frame': '_top' } do |form| %>
        <div spellcheck="false" data-text='content'>
          <%= form.input(
              :body,
              as: :text,
              label: false,
              wrapper: false,
              input_html: { class: 'hidden content', value: @draft.decoded_content  }
            )
          %>
        </div>
      <% end %>
    <% end %>
  </collaboration-editor>
</div>
