<%= render 'publications/layout' do %>
  <div class='grid sm:grid-cols-4 grid-cols-1 gap-16 mt-8'>
    <aside class='col-span-1'>
      <ul class='card bordered side-menu'>
        <li class="border-b last:border-b-0 border-base-200">
          <%= tab_link_to 'Drafts', publication_drafts_root_path(@publication), class: 'px-4 py-3 block', dir: :vertical %>
        </li>
        <li class="border-b last:border-b-0 border-base-200">
          <%= tab_link_to 'Published', publication_drafts_root_path(@publication, status: :published), class: 'px-4 py-3 block', dir: :vertical %>
        </li>
      </ul>
    </aside>

    <main class='sm:col-span-3 col-span-1'>
      <%= render(Card::Component.new) do |card| %>
        <% card.title do %>
          <%= render 'shared/breadcrumbs' %>
        <% end %>

        <% card.actions do %>
          <%= link_to publication_new_draft_path(@publication) do %>
            <%= inline_svg_tag 'icons/plus.svg', class: 'fill-current w-4 h-4' %>
          <% end %>
        <% end %>

        <% card.body do %>
          <% path = @path.blank? ? publication_drafts_root_path(@publication, status: params[:status]) : publication_drafts_path(@publication, path: @path, status: params[:status]) %>
          <%= turbo_frame_tag dom_id(@publication, :drafts), src: path, lazy: true do %>
            <%= render 'shared/card_loader', count: 10 %>
          <% end %>
        <% end %>
      <% end %>
    </main>
  </div>
<% end %>
