<div class='sm:flex items-center sm:text-left text-center w-full'>
  <%= render(Avatar::Component.new(avatar: @publication.icon, fallback: @publication.initials, variant: :profile)) %>
  <div class='sm:ml-4 sm:w-2/3 w-full'>
    <h2 class='sm:text-3xl text-2xl'><%= @publication.name %></h2>
    <p class='sm:w-2/3 w-full sm:mt-0 mt-2 text-sm text-secondary'><%= @publication.description %></p>
  </div>
</div>

<div class='tabs border-b border-base-200 my-8' dir='horizontal'>
  <%= tab_link_to 'Overview', publication_path(@publication), class: 'tab' %>
  <%= tab_link_to 'Drafts', publication_drafts_root_path(@publication), class: 'tab', active_condition: :inclusive %>
  <%= tab_link_to 'Assets', publication_assets_root_path(@publication), class: 'tab', active_condition: :inclusive %>
  <%= tab_link_to 'People', publication_people_path(@publication), class: 'tab' %>
  <%= tab_link_to 'Settings', publication_settings_path(@publication), class: 'tab', active_condition: :inclusive %>
</div>

<%= yield %>
