<div class='relative'>
  <%= image_tag(@publication.icon.variant(:profile)) if @publication.icon.attached? %>
  <h3><%= @publication.name %></h3>
  <p class='sm:w-2/3 w-full text-secondary'><%= @publication.description %></p>
  <%= link_to 'New post', publication_new_draft_path(@publication), class: 'btn btn-primary btn-outline btn-sm absolute right-0' %>

  <div class='tabs border-b border-base-200 mt-8' dir='horizontal'>
    <%= tab_link_to 'Overview', publication_path(@publication), class: 'tab' %>
    <%= tab_link_to 'Drafts', publication_drafts_root_path(@publication), class: 'tab' %>
    <%= tab_link_to 'Settings', publication_settings_path(@publication), class: 'tab', active_condition: :inclusive %>
  </div>

  <%= yield %>
</div>
