<aside class='col-span-1 order-first sm:order-2'>
  <%= render(Card::Component.new) do |card| %>
    <% card.title do %>
      People
    <% end %>

    <% card.actions do %>
      <% if signed_in? && allowed_to?(:invite?, publication) %>
        <%= link_to new_publication_invite_path(publication), 'data-turbo-frame': dom_id(invite, :popup) do %>
          <%= inline_svg_tag 'icons/plus.svg', class: 'fill-current w-4 h-4' %>
        <% end %>
        <%= turbo_frame_tag dom_id(@invite, :popup) %>
      <% end %>
    <% end %>

    <% card.body do %>
      <div class='flex items-center -pl-2 p-4'>
        <% publication.members.each do |member| %>
          <%= link_to user_path(member), title: member.name, class: 'ml-2' do %>
            <%= render(Avatar::Component.new(avatar: member.avatar, gravatar: member.gravatar_url, fallback: member.name.initials)) %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</aside>
