<% set_meta_tags @publication %>

<%= render 'layout' do %>
  <div class='grid grid-cols-3 gap-4 mt-8'>
    <section class='col-span-2'>
      <%= render(Card::Component.new) do |card| %>
        <% card.title do %>
          About
        <% end %>

        <% card.actions do %>
          <%= link_to 'Update', publication_edit_draft_path(@publication, @publication.readme), class: 'btn btn-primary btn-sm' %>
        <% end %>

        <% card.body do %>
          <%= content_tag :article, @publication.readme.content_html, class: 'chu-editor chu-editor-sm px-4' %>
        <% end %>
      <% end %>

      <div class='mt-8'>
        <%= render(Card::Component.new) do |card| %>
          <% card.title do %>
            Posts
          <% end %>

          <% card.actions do %>
            <%= link_to 'New', publication_new_draft_path(@publication), class: 'btn btn-primary btn-outline btn-sm' %>
          <% end %>

          <% card.body do %>
            <% if @publication.posts.any? %>
              <%= render 'posts/list', posts: @publication.posts %>
            <% else %>
              <%= render 'shared/placeholder', content: 'No published posts in this publication' %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </section>

    <%= render 'sidebar', publication: @publication %>
  </div>
<% end %>
