<%= simple_form_for(storage, url: storages_path) do |form| %>
  <%= form.input :provider, as: :select, collection: Storage.available_providers %>
  <%= form.input :access_token %>
  <%= form.input :default %>

  <div class='flex items-center'>
    <%= form.button :submit, 'Save', class: 'button button--fill' %>
    <%= link_to 'Cancel', setting_path(id: 'storage'), class: 'button button--fill ml-2' %>
  </div>
<% end %>
