<% cache article do %>
  <div class='border-b last:border-b-0'>
    <%= turbo_frame_tag(article, class: 'flex') do %>
      <div class='flex flex-1'>
        <%= link_to blog_article_path(blog, article), data: { 'turbo-frame': :_top } do %>
          <%= tag.h4 article.title %>
          <%= tag.div article.intro, class: 'text-xs text-gray-600 mt-1' %>
        <% end %>
      </div>

      <div class='flex items-center justify-between flex-end'>
        <%= link_to 'Edit', edit_blog_article_path(blog, article), class: 'btn border-info btn-outline btn-sm', data: { 'turbo-frame': :_top } %>
        <%= button_to blog_article_path(blog, article, path: article.path), method: :delete, class: 'btn border-error btn-outline btn-sm ml-3', data: { 'turbo-frame': :_top } do %>
          <%= tag.span 'Delete' %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
