<% cache article do %>
  <%= link_to blog_article_path(blog, article), class: 'list__item list__item--flex list__item--bordered' do %>
    <%= turbo_frame_tag(article, class: 'flex mx-4') do %>
      <div class='flex flex-1'>
        <div>
          <%= tag.h4 article.title %>
          <%= tag.div article.content, class: 'text-xs text-gray-600 mt-1' %>
        </div>
      </div>

      <div class='flex items-center justify-between flex-end'>
        <%= link_to 'Edit', edit_blog_article_path(blog, article), class: 'button button--slim button--fill', data: { 'turbo-frame': :_top } %>
        <%= button_to blog_article_path(blog, article), method: :delete, class: 'button button--slim button--danger ml-3', data: { 'turbo-frame': :_top } do %>
          <%= tag.span 'Delete' %>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% end %>
