<%= simple_form_for post, url: publication_publish_draft_path(publication, draft), html: { class: 'h-full mt-4', 'data-turbo-frame': :_top } do |form| %>
  <%= form.input :visibility, as: :select, collection: Post.visibilities, input_html: { class: 'bg-transparent' } %>
  <date-time-picker>
    <%= form.input :date, as: :string, input_html: { 'data-target': 'date-time-picker.element', class: 'bg-transparent' } %>
  </date-time-picker>

  <autocomplete-extras data-tags>
    <auto-complete
      src="<%= topics_path %>"
      for="topics-popup"
      class='w-full dropdown'
      data-target='autocomplete-extras.completer'
    >
      <%= form.input :topic_list, input_html: { 'data-target': 'autocomplete-extras.targetInput', 'data-action': 'input:autocomplete-extras#toggle', class: 'bg-transparent' } %>
      <div data-target='autocomplete-extras.selections' class='flex w-auto flex-wrap mt-2'></div>
      <%= form.input :topic_list, as: :hidden, input_html: { 'data-target': 'autocomplete-extras.valueInput' } %>

      <button data-target='autocomplete-extras.handle' class='hidden absolute right-0 bottom-0 mb-4 mr-4' data-action='click:autocomplete-extras#clear'>
        <%= inline_svg_tag('icons/x.svg', class: 'w-4 h-4 fill-current', 'data-action': 'click:autocomplete-extras#clear') %>
      </button>

      <ul id="topics-popup" data-target='autocomplete-extras.dropdown'></ul>
      <div id="topics-popup-feedback" class="sr-only"></div>
    </auto-complete>
  </autocomplete-extras>

  <div class="modal-action">
    <%= form.submit 'Publish', class: 'btn btn-primary btn-sm' %>
    <%= link_to 'Cancel', publication_edit_draft_path(publication, draft), class: "btn btn-error btn-sm", data: { 'turbo-frame': :_top } %>
  </div>
<% end %>
