<%= simple_form_for post, url: publication_publish_draft_path(publication, draft), html: { form: 'h-full', 'data-turbo-frame': :_top } do |form| %>
  <h3>Publish</h3>
  <p class='text-sm text-secondary'>Publish your post on Chuspace</p>

  <%= form.input :visibility, as: :select, collection: Post.visibilities, input_html: { class: 'bg-transparent' } %>
  <date-time-picker>
    <%= form.input :date, as: :string, input_html: { 'data-target': 'date-time-picker.element', class: 'bg-transparent' } %>
  </date-time-picker>

  <auto-complete src="/users/search" for="topics-popup">
    <%= form.input :topic_list, input_html: { 'data-target': 'input-tags.element', class: 'bg-transparent' } %>
    <button id="topics-clear">X</button>
    <ul id="topics-popup"></ul>
    <!--
      Optional div for screen reader feedback. Note the ID matches the ul, but with -feedback appended.
      Recommended: Use a "Screen Reader Only" class to position the element off the visual boundary of the page.
    -->
    <div id="topics-popup-feedback" class="sr-only"></div>
  </auto-complete>

  <div class="modal-action">
    <%= form.submit 'Publish', class: 'btn btn-primary btn-sm' %>
    <%= link_to 'Cancel', publication_edit_draft_path(publication, draft), class: "btn btn-error btn-sm", data: { 'turbo-frame': :_top } %>
  </div>
<% end %>
