<div class='grid grid-cols-3 h-screen max-h-screen overflow-hidden'>
  <div class='col-span-2 p-8 px-24 h-full overflow-scroll'>
    <%= render 'shared/breadcrumbs' %>

    <%= simple_form_for '', url: '#' do |form| %>
      <chu-editor class='h-full chu-editor mb-8' data-read-only='true'>
        <h1 class='title'><%= @draft.title %></h1>
        <h2 class='summary'><%= @draft.summary %></h2>
        <div data-target='chu-editor.content'>
          <%= form.input(
              :content,
              as: :text,
              label: false,
              wrapper: false,
              input_html: { class: 'hidden', value: @draft.body, readonly: true }
            )
          %>
        </div>

        <div data-target='chu-editor.revision'>
          <%= form.input(
              :revision,
              as: :text,
              label: false,
              wrapper: false,
              input_html: { class: 'hidden', value: @draft.unsaved_content.value, readonly: true }
            )
          %>
        </div>
      </chu-editor>
    <% end %>
  </div>

  <div class='col-span-1 p-8 bg-base-200 overflow-scroll h-full'>
    <%= turbo_frame_tag(@post, class: 'h-full') do %>
      <%= simple_form_for @post, url: publication_publish_draft_path(@publication, @draft), html: { form: 'h-full' } do |form| %>
        <div class='basics'>
          <h5 class='mb-4'>Publish</h5>
          <file-attachment directory>
            <%= form.input :preview_image, as: :hidden, input_html: { value: @draft.preview_image_url_or_path } %>
          </file-attachment>

          <% if @draft.preview_image_url_or_path.present? %>
            <%= image_tag(@draft.preview_image_url_or_path, class: 'w-full h-40 rounded-md') %>
          <% else %>
            <div class='bg-secondary w-full h-40 rounded-md'></div>
          <% end %>

          <div class='mt-8 chu-editor'>
            <%= form.input :title, label: false, input_html: { class: 'title-input' } %>
            <%= form.input :summary, label: false, input_html: { class: 'summary-input' } %>
          </div>
        </div>

        <div class='meta'>
          <%= form.input :visibility, as: :select, collection: Post.visibilities, input_html: { class: 'bg-transparent' } %>
          <date-time-picker>
            <%= form.input :date, as: :string, input_html: { 'data-target': 'date-time-picker.element', class: 'bg-transparent' } %>
          </date-time-picker>

          <auto-complete src="/users/search" for="topics-popup">
            <%= form.input :topic_list, input_html: { 'data-target': 'input-tags.element', class: 'bg-transparent' } %>
            <button id="topics-clear">X</button>
            <ul id="topics-popup"></ul>
            <!--
              Optional div for screen reader feedback. Note the ID matches the ul, but with -feedback appended.
              Recommended: Use a "Screen Reader Only" class to position the element off the visual boundary of the page.
            -->
            <div id="topics-popup-feedback" class="sr-only"></div>
          </auto-complete>

          <div class="modal-action">
            <%= form.submit 'Publish', class: 'btn btn-primary btn-sm' %>
            <%= link_to 'Cancel', publication_edit_draft_path(@publication, @draft), class: "btn btn-error btn-sm", data: { 'turbo-frame': :_top } %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
