<div class='grid grid-cols-3 h-screen max-h-screen overflow-hidden'>
  <div class='col-span-2 px-24 h-full overflow-scroll'>
    <nav class='flex justify-between items-center'>
      <%= link_to root_path do %>
        <h1 class='font-bold text-3xl lowercase inline-block font-monospace'>Chu</h1>
      <% end %>

      <div class='flex items-center flex-1 w-1/2'>
        <div class='divider divider-vertical'></div>
        <div class='ml-8 flex overflow-x-auto'>
          <%= render 'shared/breadcrumbs' %>
        </div>
      </div>
    </nav>

    <div class='mt-12'>
      <%= render 'publications/drafts/shared/preview' %>
    </div>
  </div>

  <div class='col-span-1 p-8 bg-base-200 overflow-scroll h-full'>
    <%= turbo_frame_tag(@post, class: 'h-full') do %>
      <%= render 'form', draft: @draft, post: @post, publication: @publication %>
    <% end %>
  </div>
</div>
