<section>
  <div class='grid grid-cols-12 gap-8'>
    <div class='col-span-8'>
      <%= render(Card::Component.new) do |card| %>
        <% card.title do %>
          <%= t('.heading', name: @topic.name) %>
        <% end %>

        <% card.body do %>
          <% if @posts.any? %>
            <%= render 'posts/list', posts: @posts %>
          <% else %>
            <%= render Placeholder::Component.new do |placeholder| %>
              <%= placeholder.text do %>
                <%= simple_format t('posts.list.none') %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <div class='col-span-4'>
      <%= render(Card::Component.new) do |card| %>
        <% card.title do %>
          Topic
        <% end %>

        <% card.body do %>
          <div class='p-4'>
            <%= render(Avatar::Component.new(avatar: @topic.icon, fallback: '#', variant: :thumb)) %>
            <h5><%= @topic.display_name || @topic.name %></h5>
            <p class='text-secondary mt-1'><%= @topic.short_description %></p>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</section>
