<% if @user.personal_blog %>
  <div class='flex justify-between border-b border-base-200 pb-3'>
    <%= simple_form_for(:search, html: { class: 'flex-1' }) do |form| %>
      <%= form.input :name, label: false, input_html: { class: 'input-sm' }, placeholder: 'Search' %>
    <% end %>

    <div class='ml-8'>
      <%= link_to 'Edit', '#', class: 'btn btn-primary btn-sm ml-2' %>
    </div>
  </div>

  <div class='chu-editor'>
    <%= @user.personal_blog.parsed_readme.html.html_safe %>
  </div>
<% else %>
  <div class='text-center py-16'>
    <h3 class='text-secondary'>404</h3>
    <p class='text-secondary w-3/4 mt-4 mx-auto'>
      Your profile about section is sourced from Readme.md file in your personal blog
      repository. Connect or create a new personal blog to get started
    </p>

    <div class='mt-4'>
      <%= link_to 'Connect existing', connect_blog_path, class: 'btn btn-primary btn-sm', data: { turbo: :_top } %>
      <%= link_to 'Add new', new_blog_path, class: 'btn btn-primary btn-sm ml-2' %>
    </div>
  </div>
<% end %>
