<h5 class='border-b border-base-200 pb-2'>Basics</h5>
<%= simple_form_for(Current.user) do |form| %>
  <%= form.input :avatar %>
  <%= form.input :name %>
  <%= form.input :username %>
  <%= form.input :email %>
  <%= form.button :submit, 'Save', class: 'mt-8 btn btn-primary' %>
<% end %>

<% if Current.user.personal_publication %>
  <h5 class='border-b border-base-200 pb-2 mt-8'>Personal publication</h5>
  <%= render 'publications/form', publication: Current.user.personal_publication, url: user_publication_setting_path(Current.user, Current.user.personal_publication, id: :profile) %>
<% end %>
