<h3 class='border-b border-base-200 pb-2'>Basics</h3>
<%= simple_form_for(Current.user) do |form| %>
  <%= form.input :avatar %>
  <%= form.input :name %>
  <%= form.input :username %>
  <%= form.input :email %>
  <%= form.button :submit, 'Save', class: 'mt-8 btn btn-primary' %>
<% end %>

<% if Current.user.personal_publication %>
  <h3 class='border-b border-base-200 pb-2 mt-8'>Personal publication</h3>
  <%= render 'publications/form', publication: Current.user.personal_publication, url: publication_setting_path(Current.user.personal_publication, id: :profile) %>
<% end %>

<h3 class='border-b border-base-200 pb-2 mt-8'>Git Providers</h3>
<% %w[github_enterprise gitlab_ee gitea].each do |provider| %>
  <h5 class='mt-8'><%= provider.humanize %></h5>
  <%= simple_form_for(Current.user.git_providers.build, url: '') do |form| %>
    <%= form.input :endpoint, as: :string %>
    <%= form.input :client_id, input_html: { value: nil } %>
    <%= form.input :client_secret, input_html: { value: nil } %>
    <%= form.button :submit, 'Save', class: 'mt-8 btn btn-primary' %>
  <% end %>
<% end %>
