<%= render(Avatar::Component.new(avatar: user.avatar, gravatar: user.gravatar_url(variant: :profile), fallback: user.name.initials, variant: :profile)) %>
<h4 class='mt-4'><%= user.name %></h4>
<h5 class='text-secondary font-normal'><%= user.username %></h5>

<ul class='mt-8'>
  <li class='mt-4 first:mt-0'>
    <%= tab_link_to('Overview', user_path(user), class: 'link link-hover') %>
  </li>
  <li class='mt-4 first:mt-0'>
    <%= tab_link_to('Drafts', user_drafts_path(user), class: 'link link-hover') %>
  </li>
  <% UserTab::PAGES.each do |page| %>
    <li class='mt-4 first:mt-0'>
      <%= tab_link_to(page.humanize, user_tab_path(user, id: page), class: 'link link-hover') %>
    </li>
  <% end %>
  <li class='mt-4 first:mt-0'>
    <%= tab_link_to('Settings', setting_path(id: UserSetting::DEFAULT_PAGE), class: 'link link-hover') %>
  </li>
</ul>
