<div class='sm:fixed top-0 sm:mt-24 sm:w-1/4 h-full overflow-y-scroll'>
  <%= render(Avatar::Component.new(avatar: user.avatar, gravatar: user.gravatar_url(variant: :profile), fallback: user.name.initials, variant: :profile)) %>
  <h3 class='mt-4 leading-none'><%= user.name %></h3>
  <h6 class='text-secondary'><%= user.username %></h6>

  <ul class='mt-8 sm:block flex items-center justify-between'>
    <li>
      <%= tab_link_to(t('.tabs.overview'), user_path(user), class: 'link link-hover text-sm text-secondary font-medium') %>
    </li>

    <li class='mt-0 sm:mt-4'>
      <%= tab_link_to(t(".tabs.publications"), user_publications_path(user), class: 'link link-hover text-sm text-secondary font-medium') %>
    </li>

    <li class='mt-0 sm:mt-4'>
      <%= tab_link_to(t(".tabs.posts"), user_posts_path(user), class: 'link link-hover text-sm text-secondary font-medium') %>
    </li>

    <% if allowed_to?(:edit?, @user) %>
      <li class='mt-0 sm:mt-4'>
        <%= tab_link_to(t('.tabs.drafts'), user_drafts_path(user), class: 'link link-hover text-sm text-secondary font-medium') %>
      </li>
      <li class='mt-0 sm:mt-4'>
        <%= tab_link_to(t(".tabs.settings"), setting_path(id: UserSetting::DEFAULT_PAGE), class: 'link link-hover text-sm text-secondary font-medium') %>
      </li>
    <% end %>
  </ul>
</div>
