<% if @user.storages.any? %>
  <div class='flex justify-between border-b border-base-200 pb-3'>
    <%= simple_form_for(:search, html: { class: 'flex-1' }) do |form| %>
      <%= form.input :name, label: false, input_html: { class: 'input-sm' }, placeholder: 'Search' %>
    <% end %>
    <div class='ml-8'>
      <%= link_to 'Add new', new_storage_path, class: 'btn btn-primary btn-sm ml-2' %>
    </div>
  </div>
  <div class='mt-4'>
    <%= render 'storages/list', storages: @user.storages %>
  </div>
<% else %>
  <div class='text-center py-16'>
    <div class='text-secondary w-2/3 mx-auto'>
      <h3>No storages</h3>
      <p class='mt-4'>
        Chuspace ships with its own git hosting which you can add
        for storing blog content but it also supports Github, Gitlab and Gitea.
      </p>
    </div>

    <div class='mt-8'>
      <%= link_to 'Connect', new_storage_path, class: 'btn btn-primary btn-sm', data: { turbo: :_top } %>
    </div>
  </div>
<% end %>
