<div class='mt-24 relative'>
  <div class='flex items-center'>
    <%= image_tag @user.avatar_url(variant: :xl), class: 'mask mask-circle' %>
    <h3 class='ml-2'><%= @user.name %></h3>
  </div>
  <%= link_to 'New blog', new_blog_path, class: 'btn btn-primary btn-outline btn-sm absolute right-0' %>

  <div class='tabs mt-8 border-b border-base-200'>
    <div role="tablist">
      <%= link_to 'About', new_blog_path, type: 'button', role: 'tab', 'aria-selected': 'true', class: 'tab' %>
      <%= link_to 'Recent posts', connect_blogs_path, type: 'button', role: 'tab', 'aria-selected': 'false', class: 'tab' %>
      <%= link_to 'Blogs', new_blog_path, type: 'button', role: 'tab', 'aria-selected': 'false', class: 'tab' %>
    </div>
  </div>

  <div class='mt-8'>
    <% if @user.blogs.any? %>
      <div class='card bordered'>
        <%= render partial: 'blogs/item', collection: @user.blogs, as: :blog, cached: true %>
      </div>
    <% else %>
      <div class='placeholder text-2xl'>No blogs</div>
    <% end %>
  </div>
</div>
