<div class='relative h-full'>
  <div class='h-full'>

    <%= image_tag @user.avatar_url(variant: :profile), class: 'mask mask-square rounded-md' %>
    <h4 class='mt-4'><%= @user.name %></h4>
    <h5 class='text-secondary font-normal'><%= @user.username %></h5>

    <ul class='flex items-center bg-base-200 px-4 py-2 rounded-md'>
      <% user_menu.each do |key, config| %>
        <li class='ml-8 first:ml-0'>
          <%= link_to(
              config[:label],
              user_path(@user, tab: config[:tab]),
              'aria-selected': false
            )
          %>
        </li>
      <% end %>
    </ul>
    <div class='mt-4'>
      <%= render @partial %>
    </div>

  </div>
</div>
