<% if signed_in? %>
  <main class='mt-24'>
    <div>
      <div class='flex items-center'>
        <div class='flex-1'>
          <%= image_tag Current.user.avatar_url(variant: :xl) %>
          <h3 class='mt-2'><%= Current.user.name %></h3>
        </div>

        <div class=''>
          <%= link_to 'Edit', '#', class: 'btn btn-primary btn-outline btn-sm' %>
        </div>
      </div>

      <div class='tabs mt-8' dir='horizontal'>
        <div role="tablist">
          <%= link_to 'About', new_blog_path, type: 'button', role: 'tab', 'aria-selected': 'true', class: 'tab' %>
          <%= link_to 'Recent posts', connect_blogs_path, type: 'button', role: 'tab', 'aria-selected': 'false', class: 'tab' %>
          <%= link_to 'Blogs', new_blog_path, type: 'button', role: 'tab', 'aria-selected': 'false', class: 'tab' %>
        </div>
      </div>
    </div>
  </main>
<% else %>
  <main class='min-h-full block sm:flex items-center justify-between'>
    <%= render 'marketing' %>
  </main>
<% end %>
