<section>
  <div class='grid grid-cols-12 gap-8'>
    <div class='col-span-8'>
      <%= render(Card::Component.new) do |card| %>
        <% card.title do %>
          Popular posts
        <% end %>

        <% card.body do %>
          <% if @user.publications.any? %>
            <% if @posts.any? %>
              <%= render 'posts/list', posts: @posts %>
            <% else %>
              <%= render 'shared/placeholder', content: 'No published posts' %>
            <% end %>
          <% else %>
            <%= render 'shared/connect_publication' %>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <div class='col-span-4'>
      <%= render(Card::Component.new) do |card| %>
        <% card.title do %>
          Publications
        <% end %>

        <% card.actions do %>
          <%= link_to 'Connect', connect_root_path, class: 'btn btn-primary btn-outline btn-sm' %>
        <% end %>

        <% card.body do %>
          <% if @publications.any? %>
            <% @publications.each do |publication| %>
              <div class='border-base-200 border-b last:border-b-0 p-4 px-8'>
                <div class='flex-1'>
                  <%= link_to(publication_path(publication), 'data-turbo-frame': :_top) do %>
                    <%= tag.h5 publication.name, class: 'link link-primary link-hover' %>
                    <%= tag.div publication.description, class: 'text-sm mt-1 text-secondary' %>
                  <% end %>
                </div>
              </div>
            <% end %>
          <% else %>
            <%= render 'shared/placeholder', content: 'No publications' %>
          <% end %>
        <% end %>
      <% end %>

      <div class='mt-8'>
        <%= render(Card::Component.new) do |card| %>
          <% card.title do %>
            Treding topics
          <% end %>

          <% card.body do %>
            <div class='flex flex-wrap p-8'>
              <div class='badge badge-secondary'>Rails</div>
              <div class='badge badge-error ml-2'>Ruby</div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</section>
