<section class='grid sm:grid-cols-12 grid-cols-1 sm:gap-16 gap-8'>
  <div class='sm:col-span-8 col-span-1'>
    <%= render(Card::Component.new) do |card| %>
      <% card.title do %>
        <%= t('posts.list.title') %>
      <% end %>

      <% card.body do %>
        <% if @posts.any? %>
          <%= render 'posts/list', posts: @posts %>
        <% else %>
          <%= render Placeholder::Component.new do |placeholder| %>
            <%= placeholder.text do %>
              <%= simple_format t('posts.list.none') %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <div class='sm:col-span-4 col-span-1 order-first sm:order-2 sm:h-screen max-h-screen'>
    <div class='sm:fixed top-0 sm:mt-24 sm:w-1/4 h-full overflow-y-scroll'>
      <%= render(Card::Component.new) do |card| %>
        <% card.body do %>
          <div class='p-6 bg-gradient-to-r from-base-200 to-base-300 rounded-md'>
            <h3 class='font-bold bg-clip-text text-transparent bg-gradient-to-r from-primary to-primary-focus'>
              <%= t('shared.tagline') %>
            </h3>
            <div class='chu-editor chu-editor-sm'>
              <p class="mt-4 text-secondary leading-normal">
                <%= t('shared.intro').html_safe %>
              </p>
            </div>
            <div class='mt-8 flex items-center'>
              <%= link_to 'Read more', '/self/hello-world', class: 'btn btn-primary btn-sm' %>
              <%= link_to 'Get started', connect_root_path, class: 'btn btn-outline btn-sm ml-2', 'data-turbo': false %>
            </div>
          </div>
        <% end %>
      <% end %>

      <div class='mt-8'>
        <%= render(Card::Component.new) do |card| %>
          <% card.title do %>
            <%= t('publications.list.title') %>
          <% end %>

          <% card.body do %>
            <% if @publications.any? %>
              <ul>
                <% @publications.each do |publication| %>
                  <li class='border-base-200 pt-4'>
                    <%= link_to(publication_path(publication), 'data-turbo-frame': :_top) do %>
                      <%= tag.h5 publication.name, class: 'link link-primary link-hover' %>
                      <%= tag.div publication.description, class: 'text-sm mt-1 text-secondary' %>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            <% else %>
              <%= render Placeholder::Component.new do |placeholder| %>
                <%= placeholder.text do %>
                  <%= simple_format t('publications.list.none') %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</section>
