<section>
  <div class='grid grid-cols-12 gap-16'>
    <div class='col-span-8'>
      <%= render(Card::Component.new) do |card| %>
        <% card.title do %>
          <%= t('posts.list.title') %>
        <% end %>

        <% card.body do %>
          <% if @posts.any? %>
            <%= render 'posts/list', posts: @posts %>
          <% else %>
            <%= render Placeholder::Component.new do |placeholder| %>
              <%= placeholder.text do %>
                <%= simple_format t('posts.list.none') %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <div class='col-span-4 h-screen max-h-screen'>
      <div class='fixed top-0 sm:mt-24 sm:w-1/4 h-full overflow-y-scroll'>
        <%= render(Card::Component.new) do |card| %>
          <% card.title do %>
            <%= t('publications.list.title') %>
          <% end %>

          <% card.body do %>
            <% if @publications.any? %>
              <% @publications.each do |publication| %>
                <div class='border-base-200 border-b last:border-b-0 py-4'>
                  <div class='flex-1'>
                    <%= link_to(publication_path(publication), 'data-turbo-frame': :_top) do %>
                      <%= tag.h5 publication.name, class: 'link link-primary link-hover' %>
                      <%= tag.div publication.description, class: 'text-sm mt-1 text-secondary' %>
                    <% end %>
                  </div>
                </div>
              <% end %>
            <% else %>
              <%= render 'shared/placeholder', content: 'No publications' %>
            <% end %>
          <% end %>
        <% end %>

        <div class='mt-8'>
          <%= render(Card::Component.new) do |card| %>
            <% card.title do %>
              <%= t('topics.list.title') %>
            <% end %>

            <% card.body do %>
              <div class='flex flex-wrap py-4'>
                <% ActsAsTaggableOn::Tag.most_used(10).featured.each do |topic| %>
                  <div class='ml-2 mb-2'>
                    <div class='badge badge-secondary'><%= link_to topic.name, topic_path(topic) %></div>
                  </div>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
