<%= render(Card::Component.new) do |card| %>
  <% card.title do %>
    <%= render 'shared/breadcrumbs' %>
  <% end %>

  <% card.actions do %>
    <%= link_to connect_other_publications_path do %>
      <%= inline_svg_tag 'icons/plus.svg', class: 'fill-current w-4 h-4' %>
    <% end %>
  <% end %>

  <% card.body do %>
    <% if @user.publications.except_personal.any? %>
      <%= render 'publications/list', publications: @user.publications.except_personal %>
    <% else %>
      <div class='text-center py-8'>
        <div class='text-secondary w-2/3 mx-auto'>
          <p>Org publications not connected</p>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
