<div class='chu-editor'>
  <%= content_tag :h1, @draft.title, class: 'title' %>
  <%= content_tag :h2, @draft.summary, class: 'summary' %>
  <collaboration-editor
      imageUploadPath='<%= publication_create_assets_path(@publication) %>'
      imageLoadPath='<%= publication_asset_path(@publication) %>'
      autoSavePath='<%= publication_autosave_draft_path(@publication, @draft) %>'
      collaboration='<%= @collaboration_session.editor_attrs(user: Current.user) %>'
      excludeFrontmatter
    >
  </collaboration-editor>
</div>
