<% cache storage do %>
  <div class='border-b last:border-b-0 p-4 border-base-200'>
    <%= turbo_frame_tag(storage, class: 'flex') do %>
      <div class='flex flex-1'>
        <%= inline_svg_tag(
          "icons/#{storage.chuspace? ? 'database' : storage.provider}",
          class: 'fill-current w-8 h-8'
        ) %>

        <div class='ml-2'>
          <%= link_to storage.provider.humanize, edit_storage_path(storage), class: 'link link-primary link-hover font-medium' %>
          <%= tag.h6 storage.label, class: 'link link-primary link-hover' %>
          <%= tag.p storage.description, class: 'text-sm text-secondary' %>
          <%= tag.pre storage.provider_config[:scopes], class: 'text-sm whitespace-pre-wrap break-words text-error mt-2' unless storage.chuspace? %>
          <div class='mt-2'>
            <%= tag.span 'system', class: 'badge badge-primary mr-2' if storage.chuspace? %>
            <%= tag.span 'default', class: 'badge badge-secondary mr-2' if storage.default? %>
            <%= tag.span 'connected', class: 'badge badge-success' if storage.active? %>
            <%= tag.span 'self-hosted', class: 'badge badge-warning' if storage.self_hosted? %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
