<% cache storage do %>
  <div class='border-b last:border-b-0 p-4'>
    <%= turbo_frame_tag(storage, class: 'flex') do %>
      <div class='flex flex-1'>
        <%= inline_svg_tag(
          "icons/#{storage.chuspace? ? 'database' : storage.provider}",
          class: 'fill-current w-8 h-8'
        ) %>

        <div class='ml-2'>
          <%= tag.h6 storage.label %>
          <%= tag.p storage.description, class: 'text-sm text-secondary' %>
          <%= tag.pre storage.provider_config[:scopes], class: 'text-sm whitespace-pre-wrap break-words text-info mt-2' unless storage.chuspace? %>
          <div class='mt-2'>
            <%= tag.span 'system', class: 'badge badge-primary mr-2' if storage.chuspace? %>
            <%= tag.span, 'default', class: 'badge badge-success mr-2' if storage.default? %>
            <%= tag.span, 'connected', class: 'badge badge-info' if storage.active? %>
            <%= tag.span, 'self-hosted', class: 'badge badge-info' if storage.self_hosted? %>
          </div>
        </div>
      </div>

      <% unless storage.chuspace? %>
        <div class='flex items-center justify-between flex-end'>
          <%= link_to(
              'Edit',
            edit_storage_path(storage),
            class: 'btn btn-sm btn-primary',
            data: { 'turbo-frame': :_top }
          ) %>
          <%= button_to(storage_path(storage), method: :delete, class: 'btn btn-sm btn-error ml-3') do %>
            <%= tag.span 'Delete' %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
