<%= turbo_frame_tag(publication) do %>
  <%= simple_form_for(publication, url: url, html: { class: 'relative', data: { target: 'auto-refresh-form.form', "turbo-frame": '_top' } }) do |form| %>
    <%= content_tag :p, 'Set your publication profile info', class: 'text-secondary text-sm mb-4' %>

    <% unless publication.personal? %>
      <drop-image>
        <%= render(Avatar::Component.new(avatar: publication.icon, fallback: publication.initials, variant: :profile, uploader: true)) %>
        <% if publication.errors.include?(:icon) %>
          <%= content_tag :span, publication.errors.full_messages_for(:icon).to_sentence, class: 'input-error text-red block' %>
        <% else %>
          <span class="input-hint w-3/4">
            <%= form.hint :icon %>
          </span>
        <% end %>

        <%= form.input(:icon,
          as: :file,
          wrapper: false,
          label: false,
          hint: false,
          input_html: { accept: "image/*", id: 'drop_input', class: 'hidden' }
          )
        %>
      </drop-image>

      <%= form.input :name %>
      <%= form.input :permalink %>
      <%= form.input :description %>
    <% end %>

    <%= form.input :twitter_handle, as: :string %>
    <%= form.input :canonical_url, as: :string %>
    <%= form.button :submit, 'Save', class: "mt-8 btn btn-primary" %>
  <% end %>
<% end %>
