<%= render 'layout' do %>
  <div class="grid grid-cols-3 gap-4 my-8 w-full">
    <%= link_to connect_personal_publications_path, class: "tab tab-bordered hover:bg-base-200 text-success" do %>
      <%= inline_svg_tag 'icons/check.svg', class: 'w-4 h-4 fill-current' %>
      <span class='ml-2'><%= t('connect.publications.shared.tabs.provider')%></span>
    <% end %>
    <%= link_to connect_personal_publication_path(@git_provider), class: "tab tab-bordered hover:bg-base-200 text-success" do %>
      <%= inline_svg_tag 'icons/check.svg', class: 'w-4 h-4 fill-current' %>
      <span class='ml-2'><%= t('connect.publications.shared.tabs.repository')%></span>
    <% end %>
    <a class="tab tab-bordered tab-active"><%= t('connect.publications.shared.tabs.publication')%></a>
  </div>

  <h4><%= t('connect.publications.shared.tabs.publication') %></h4>
  <div class='text-secondary text-sm'>
    <p>
      Choose folders from your Git repository to read and write contents.
    </p>
  </div>

  <div class='mt-8'>
    <%= turbo_frame_tag(@publication) do %>
      <%= render 'connect/personal_publications/form', publication: @publication %>
    <% end %>
  </div>
<% end %>
