
<%= render 'layout' do %>
  <div class="grid grid-cols-3 gap-4 my-8 w-full">
    <%= link_to 'Pick your Git Provider', connect_personal_publications_path, class: "tab tab-bordered" %>
    <%= link_to 'Pick a repository', connect_personal_publication_path(@git_provider), class: "tab tab-bordered" %>
    <a class="tab tab-bordered tab-active">Content settings</a>
  </div>

  <h4>Content setting</h4>
  <div class='mt-2 text-secondary'>
    <p>
      Choose folders from your Git repository to read and write contents.
    </p>
  </div>

  <div class='mt-8'>
    <%= turbo_frame_tag(@publication) do %>
      <%= simple_form_for(@publication, url: create_connect_personal_publication_path(@git_provider, repo_fullname: @publication.repo.fullname), html: { class: 'relative', data: { target: 'auto-refresh-form.form', "turbo-frame": '_top' } }) do |form| %>
        <%= form.simple_fields_for :repo do |repo_form| %>
          <%= repo_form.input :posts_folder, as: :select, collection: @publication.repository.folders, include_blank: 'Choose' %>
          <%= repo_form.input :drafts_folder, as: :select, collection: @publication.repository.folders, include_blank: 'Choose' %>
          <%= repo_form.input :assets_folder, as: :select, collection: @publication.repository.folders, include_blank: 'Choose' %>
          <%= repo_form.input(
              :readme_path,
              as: :select,
              collection: @publication.repository.files,
              include_blank: 'Choose'
            )
          %>
        <% end %>

        <%= form.button :submit, 'Connect', class: "mt-12 btn btn-primary" %>
      <% end %>
    <% end %>
  </div>
<% end %>
