<%= render 'layout' do %>
  <div class="grid grid-cols-3 gap-4 my-8 w-full">
    <%= link_to connect_personal_publications_path, class: "tab tab-bordered hover:bg-base-200 text-success" do %>
      <%= inline_svg_tag 'icons/check.svg', class: 'w-4 h-4 fill-current' %>
      <span class='ml-2'><%= t('connect.publications.shared.tabs.provider') %></span>
    <% end %>
    <a class="tab tab-bordered tab-active"><%= t('connect.publications.shared.tabs.repository') %></a>
    <a class="tab tab-bordered "><%= t('connect.publications.shared.tabs.publication') %></a>
  </div>

  <h4><%= t('connect.publications.shared.tabs.repository') %></h4>
  <div class='text-secondary text-sm'>
    <p>
      Choose your personal publication Git repository hosted on <%= @git_provider.name.titlecase %>.
    </p>
    <p>
      The choosen Git repository must store contents in markdown format.
      <code class='text-sm'>Example: Jekyll or Hugo</code>
    </p>
  </div>

  <%= render('connect/shared/choose_repository', git_provider_user: @git_provider_user, git_provider: @git_provider, publication: @publication) %>

  <% if @git_provider.github? %>
    <div class='mt-8 flex items-center'>
      <span>Can't see your repo here?</span>
      <%= button_to 'Configure repository', '/auth/github_app', class: 'link link-primary ml-2', data: { turbo: false } %>
    </div>
  <% end %>
<% end %>
