<%= render 'publications/layout' do %>
  <div class='grid grid-cols-4 gap-16 mt-8'>
    <aside class='col-span-1'>
      <%= render 'publications/shared/people_actions', publication: @publication %>
    </aside>

    <main class='col-span-3'>
      <%= render(Card::Component.new) do |card| %>
        <% card.title do %>
          <%= render 'shared/breadcrumbs' %>
        <% end %>

        <% card.body do %>
          <% if @invites.any? %>
            <%= render partial: 'invite', collection: @invites, as: :invite %>
          <% else %>
            <%= render 'shared/placeholder', content: 'No pending invites' %>
          <% end %>
        <% end  %>
      <% end %>
    </main>
  </div>
<% end %>
