<%= render 'publications/layout' do %>
  <div class='grid grid-cols-12 gap-4 mt-8'>
    <aside class='col-span-3'>
      <%= render 'publications/shared/people_actions', publication: @publication %>
    </aside>

    <main class='col-span-9'>
      <%= render(Card::Component.new) do |card| %>
        <% card.title do %>
          <%= render 'shared/breadcrumbs' %>
        <% end %>

        <% card.actions do %>
          <aside>
            <%= link_to 'Invite', new_publication_invite_path(@publication), class: 'btn btn-primary btn-sm', 'data-turbo-frame': dom_id(@invite, :popup) %>
            <%= turbo_frame_tag dom_id(@invite, :popup) %>
          </aside>
        <% end %>

        <% card.body do %>
          <% if @invites.any? %>
            <%= render partial: 'invite', collection: @invites, as: :invite %>
          <% else %>
            <%= render 'shared/placeholder', content: 'No pending invites' %>
          <% end %>
        <% end  %>
      <% end %>
    </main>
  </div>
<% end %>
