<% cache post do %>
  <article class='border-b last:border-b-0 border-base-200 p-4'>
    <%= turbo_frame_tag(post, class: 'flex') do %>
      <div class='flex-1'>
        <%= link_to user_blog_post_path(post.blog.owner, post.blog, post.editions.current), data: { 'turbo-frame': :_top } do %>
          <%= tag.h5 post.revisions.current.title, class: 'link link-primary link-hover mt-1' %>
          <%= tag.p post.revisions.current.summary, class: 'text-sm text-secondary mt-1 sm:w-2/3 w-full' %>
        <% end %>
        <%= tag.span 'published', class: 'badge badge-primary mr-2' %>
      </div>
    <% end %>
  </article>
<% end %>
