<% cache post do %>
  <article class='border-base-200 border-b last:border-b-0 p-4 px-8'>
    <%= turbo_frame_tag(post, class: 'flex') do %>
      <div class='flex-1'>
        <%= link_to publication_post_path(post.publication, post), data: { 'turbo-frame': :_top } do %>
          <%= tag.h5 post.title, class: 'link link-primary link-hover' %>
          <%= tag.p post.summary, class: 'text-sm text-secondary mt-1' %>
        <% end %>

        <div class='mt-4'>
          <%= tag.span post.visibility, class: 'badge badge-primary mr-2 mt-2' %>
          <%= tag.time post.date.strftime("%d %b %Y"), class: 'text-sm text-secondary' %>
        </div>
      </div>
    <% end %>
  </article>
<% end %>
