<article class='border-base-200 border-b last:border-b-0 p-4'>
  <%= turbo_frame_tag(post, class: 'flex') do %>
    <div class='flex-1'>
      <%= link_to publication_post_path(post.publication, post), data: { 'turbo-frame': :_top } do %>
        <%= tag.h5 post.title, class: 'link link-primary link-hover' %>
        <%= tag.p post.summary, class: 'text-sm text-secondary text-sm mt-1 w-full sm:w-3/4' %>
      <% end %>

      <div class='mt-6 text-sm'>
        <% if post.topics.any? %>
          <%= link_to post.topics.order(:score).first.name, topic_path(post.topics.first), class: 'badge badge-secondary', data: { 'turbo-frame': :_top } %>
          <span class='mx-2'>&#183;</span>
        <% end %>

        <%= link_to post.author.name, user_path(post.author), class: 'link link-hover link-secondary', data: { 'turbo-frame': :_top } %>
        <% unless post.publication.personal? %>
          <%= tag.span do %>
            in <%= link_to post.publication.name, publication_path(post.publication), class: 'link link-hover link-secondary', data: { 'turbo-frame': :_top } %>
          <% end %>
        <% end %>

        <span class='mx-2'>&#183;</span>

        <%= tag.time class: 'text-secondary' do %>
          <%= post.reading_time %> min read
        <% end %>
        <span class='mx-2'>&#183;</span>
        <%= tag.time post.date.strftime("%d %b %Y %I:%M %p"), class: 'text-secondary' %>
      </div>
    </div>
  <% end %>
</article>
