<% set_meta_tags @post %>
<% content_for(:header_actions) do %>
  <%= link_to 'Contribute', publication_draft_contributions_path(@publication, @post.draft), class: 'btn btn-info btn-xs mr-4', 'data-turbo-frame': :_top %>
<% end %>

<div class='sm:w-2/3 mx-auto w-full'>
  <%= render 'shared/breadcrumbs' %>

  <div class='chu-editor'>
    <div class='my-8'>
      <%= content_tag :h1, @post.title, class: 'title' %>
      <%= content_tag :h2, @post.summary, class: 'summary' %>
    </div>

    <%= @post.body_html.html_safe %>
  </div>

  <nav class='mr-8 fixed right-0 top-1/2 -translate-y-1/2'>
    <%= link_to '#', class: 'flex items-center block link link-primary bg-neutral rounded-full p-2' do  %>
      <%= inline_svg_tag 'icons/repo-pull', class: 'w-6 h-6 fill-current' %>
    <% end %>

    <%= link_to '#', class: 'flex items-center block link link-primary mt-4 bg-neutral rounded-full p-2' do  %>
      <%= inline_svg_tag 'icons/share', class: 'w-6 h-6 fill-current' %>
    <% end %>

    <%= link_to '#', class: 'flex items-center block link link-primary mt-4 bg-neutral rounded-full p-2' do  %>
      <%= inline_svg_tag 'icons/bookmark', class: 'w-6 h-6 fill-current' %>
    <% end %>
  </nav>
</div>
