<%= turbo_frame_tag(membership) do %>
  <div class='flex items-center border-b last:border-b-0 p-4 border-base-200'>
    <div class='flex-1'>
      <div class='flex items-center'>
        <%= link_to(user_path(membership.user), 'data-turbo-frame': :_top, class: 'link link-primary link-hover') do %>
          <%= render(Avatar::Component.new(avatar: membership.user.avatar, gravatar: membership.user.gravatar_url, fallback: membership.user.name.initials, variant: :thumb)) %>
        <% end %>

        <div class='ml-2'>
          <%= link_to(user_path(membership.user), 'data-turbo-frame': :_top, class: 'link link-primary link-hover') do %>
            <%= content_tag :h5, membership.user.name %>
          <% end %>
          <%= content_tag :p, membership.user.username, class: 'text-sm text-secondary' %>
        </div>
      </div>
    </div>

    <%= tag.span membership.role %>
    <%= turbo_frame_tag dom_id(membership, :actions), class: 'btn btn-sm btn-primary btn-outline loading ml-4', src: publication_person_actions_path(@publication, membership), loading: :lazy %>
  </div>
<% end %>
