<%= render 'publications/layout' do %>
  <div class='grid sm:grid-cols-4 grid-cols-1 gap-16 mt-8'>
    <aside class='col-span-1'>
      <%= render 'publications/shared/people_actions', publication: @publication %>
    </aside>

    <main class='sm:col-span-3 col-span-1'>
      <%= render(Card::Component.new) do |card| %>
        <% card.title do %>
          <%= render 'shared/breadcrumbs' %>
        <% end %>

        <% card.actions do %>
          <aside>
            <%= link_to new_publication_invite_path(@publication), 'data-turbo-frame': dom_id(@invite, :popup) do %>
              <%= inline_svg_tag 'icons/plus.svg', class: 'fill-current w-4 h-4' %>
            <% end %>
            <%= turbo_frame_tag dom_id(@invite, :popup) %>
          </aside>
        <% end %>

        <% card.body do %>
          <% if @memberships.any? %>
            <%= render partial: 'person', collection: @memberships, as: :membership %>
          <% else %>
            <%= render 'shared/placeholder', content: 'No members' %>
          <% end %>
        <% end %>
      <% end %>
    </main>
  </div>
<% end %>
