<%= turbo_frame_tag(blog) do %>
  <auto-refresh-form>
    <%= simple_form_for([Current.user, blog], html: { class: 'relative', data: { target: 'auto-refresh-form.form', "turbo-frame": '_top' } }) do |form| %>
      <div data-target='auto-refresh-form.loader'>
        <% if blog.repo_fullname.present? %>
          <div class="divider"></div>
          <%= form.input :name, required: true %>
          <%= form.input :description, as: :text, required: true %>
          <%= form.input :visibility, as: :select, collection: Blog.visibilities %>

          <div class="divider"></div>

          <% if blog.repository.folders.any? %>
            <%= form.input :repo_posts_folder, as: :select, collection: blog.repository.folders, include_blank: 'Choose' %>
            <%= form.input :repo_drafts_folder, as: :select, collection: blog.repository.folders, include_blank: 'Choose' %>
            <%= form.input :repo_assets_folder, as: :select, collection: blog.repository.folders, include_blank: 'Choose' %>
            <%= form.input(
                :repo_readme_path,
                as: :select,
                collection: blog.repository.files,
                include_blank: 'Choose',
                input_html: {
                  'data-action': 'change:auto-refresh-form#refresh',
                },
              )
            %>
          <% end %>
        <% end %>
      </div>

      <%= form.input :type, as: :hidden, input_html: { value: :connect, name: 'type' } %>
      <%= form.button :submit, 'Connect', class: "mt-12" %>
    <% end %>
  </auto-refresh-form>
<% end %>
