<footer class='footer text-xs my-8 mt-24'>
  <div class='flex items-center'>
    <ul class='flex-1 text-xs'>
      <li>© <%= Time.current.year %> <strong class='text-secondary'>Chuspace</strong></li>
    </ul>

    <% if ChuspaceConfig.new.out_of_private_beta %>
      <ul class='flex items-center'>
        <li class='mr-4'>
          <strong><%= link_to 'About', 'https://chuspace.com/chuspace/hello-world', class: 'underline' %></strong>
        </li>
        <li class='mr-4'>
          <strong><%= link_to 'Privacy', 'https://chuspace.com/policy/chuspace-privacy-statement', class: 'underline' %></strong>
        </li>
        <li class='mr-4'>
          <strong><%= link_to 'Terms', 'https://chuspace.com/policy/chuspace-terms-of-service', class: 'underline' %></strong>
        </li>
        <li>
          <strong><%= link_to 'Contact', '#', class: 'underline' %></strong>
        </li>
      </ul>
    <% end %>
  </div>
</footer>
