<flexible-header data-on='<%= signed_in? %>'>
  <header data-target='flexible-header.element' class='header'>
    <nav class='container flex justify-between items-center'>
      <%= link_to root_path, class: 'pt-1 pb-2' do %>
        <span class='font-bold text-3xl lowercase inline-block font-monospace'>Chuspace</span>
        <%= content_tag :span, 'axiom', class: 'text-xs font-sans' %>
      <% end %>

      <div class='flex items-center py-2'>
        <% if signed_in? %>
          <%= link_to 'Start writing', connect_root_path, class: 'btn btn-primary btn-outline btn-sm mr-4' %>
          <%= render 'layouts/user' %>
        <% else %>
          <%= link_to 'Our Story', '#', class: 'link link-primary link-hover ml-8' %>
          <%= link_to 'Sign in', '#', class: 'link link-primary link-hover ml-8' %>
        <% end %>
      </div>
    </nav>
  </header>
</flexible-header>
