<header>
  <nav class='container flex justify-between items-center py-2'>
    <%= link_to root_path do %>
      <h1 class='font-bold text-2xl inline-block'>Chuspace</h1>
      <%= content_tag :span, 'axiom', class: "text-sm" %>
    <% end %>

    <div class='flex items-center'>
      <%= link_to 'Feed', '#', class: 'link link--default' %>
      <%= link_to 'How it works?', '#', class: 'link link--default ml-8' %>
    </div>

    <% if Current.user.present?  %>
      <%= render "layouts/user" %>
    <% else %>
      <div class='flex items-center'>
        <%= button_to 'Get started', login_path, class: 'button button--fill', 'data-turbo': false %>
      </div>
    <% end %>
  </nav>
</header>
