<div class='flex items-center'>
  <details class="dropdown dropdown-end">
    <summary tabindex="0" class="cursor-pointer">
      <%= render(Avatar::Component.new(avatar: Current.user.avatar, gravatar: Current.user.gravatar_url, fallback: Current.user.name.initials, variant: :icon)) %>
    </summary>
    <details-menu tabindex="0" class="shadow menu dropdown-content bg-base-300 rounded-box w-52 z-50">
      <li>
        <%= content_tag :div, "Signed in as <strong>#{Current.user.username}</strong>".html_safe, role: 'menuitem', class: 'block text-current', tabindex: '-1' %>
      </li>
      <div class='divider my-1 h-0'></div>
      <li>
        <%= link_to 'Connect', connect_root_path, class: 'link link-hover', role: 'menuitem', tabindex: '-1' %>
      </li>
      <div class='divider my-1 h-0'></div>
      <li>
        <%= tab_link_to 'Your profile', user_path(Current.user), class: 'link link-hover', role: 'menuitem', tabindex: '-1' %>
      </li>
      <li>
        <%= tab_link_to ' Your posts', user_posts_path(Current.user), class: 'link link-hover', role: 'menuitem', tabindex: '-1' %>
      </li>
      <li>
        <%= tab_link_to 'Your publications', user_publications_path(Current.user), class: 'link link-hover', role: 'menuitem', tabindex: '-1' %>
      </li>
      <li>
        <%= tab_link_to 'Your drafts', user_drafts_path(Current.user), class: 'link link-hover', role: 'menuitem', tabindex: '-1' %>
      </li>
      <div class='divider my-1 h-0'></div>
      <li>
        <%= tab_link_to 'Write', publication_new_draft_path(Current.user.personal_publication), class: 'link link-hover', role: 'menuitem', tabindex: '-1' if Current.user.personal_publication.present? %>
      </li>
      <li>
        <%= tab_link_to 'Settings', setting_path(id: UserSetting::DEFAULT_PAGE), class: 'link link-hover', role: 'menuitem', tabindex: '-1' %>
      </li>
      <li>
        <%= button_to 'Sign out', session_path(Current.user), class: 'text-current', form: { role: 'menuitem', tabindex: '-1' }, method: :delete, remote: true %>
      </li>
    </details-menu>
  </details>
</div>
