<!DOCTYPE html>
<html lang='en' class='h-full'>
  <head>
    <%= render 'layouts/meta' %>

    <link rel="dns-prefetch" href="//secure.gravatar.com" />
    <link rel="preconnect" href="//secure.gravatar.com" />

    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="apple-touch-icon" href="/chuspace-icon-192.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/chuspace-icon-192.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/chuspace-icon-192.png" />
    <link rel="apple-touch-icon" sizes="167x167" href="/chuspace-icon-192.png" />

    <%= javascript_pack_tag 'editor', defer: true, 'data-turbo-track': 'reload' %>
    <%= stylesheet_pack_tag 'editor', media: 'all', 'data-turbo-track': 'reload' %>
  </head>

  <body class="flex flex-col h-full">
    <%= render 'layouts/flash' %>
    <%= render 'publications/drafts/header', draft: @draft %>
    <%= render 'publications/drafts/collaborators', members: @collaboration_session.members.order(:id) if @collaboration_session %>
    <section class="container flex-1 sm:mt-24">
      <%= yield %>
    </section>
  </body>
</html>
