<!DOCTYPE html>
<html lang='en' class='h-full'>
  <%= render 'layouts/head' %>
  <body class="flex flex-col h-full">
    <%= render 'layouts/flash' %>

    <chu-editor
      data-autofocus='true'
      data-image-provider-path='<%= publication_assets_path(@publication) %>'
    >
      <%= render 'publications/drafts/header', draft: @draft %>

      <section class="container flex-1 pt-24">
        <%= yield %>
      </section>
    </chu-editor>
  </body>
</html>
