<!DOCTYPE html>
<html lang='en' class='h-full'>
  <head>
    <%= render 'layouts/meta' %>
    <%= action_cable_meta_tag %>
    <%= render 'layouts/head' %>
  </head>
  <body class="flex flex-col h-full">
    <%= render 'layouts/flash' %>
    <%= render 'publications/drafts/header', draft: @draft %>
    <%= turbo_stream_from(@collaboration_session, :collaborators) %>
    <%= render 'publications/drafts/collaborators', members: @collaboration_session.members.order(:id) if @collaboration_session %>

    <main class="container flex-1 pt-24">
      <%= yield %>
    </main>
  </body>
</html>
