<!DOCTYPE html>
<html lang='en' class='h-full'>
  <%= render 'layouts/head' %>
  <body class="flex flex-col h-full">
    <%= render 'layouts/flash' %>
    <%= render(Header::Component.new) do |header| %>
      <%= header.after_logo_contents do %>
        <div class='sm:w-2/3 sm:flex items-center hidden overflow-x-auto'>
          <span class='mx-4 text-secondary'>|</span>
          <%= render 'shared/breadcrumbs' %>
        </div>
      <% end %>
      <%= header.before_user_dropdown do %>
        <%= render 'publications/drafts/post_actions', draft: @draft, publication: @publication if @draft.persisted? %>
      <% end %>
    <% end %>
    <main class="container flex-1 pt-24">
      <%= yield %>
    </main>
    <%= render 'publications/drafts/actions', draft: @draft, publication: @publication if @draft.persisted? %>
  </body>
</html>
