<!DOCTYPE html>
<html lang='en' class='h-full'>
  <%= render 'layouts/head' %>
  <body class="flex h-full">
    <%= render 'layouts/minimal_header' %>

    <section class="container flex-1">
      <%= yield %>
    </section>

    <nav class='mt-12 mr-8'>
      <%= link_to '#', class: 'flex items-center' do  %>
        <%= inline_svg_tag 'icons/trash', class: 'w-4 h-4 fill-current' %>
        <span class='ml-2'>Delete</span>
      <% end %>

      <%= link_to '#', class: 'flex items-center mt-2 block' do  %>
        <%= inline_svg_tag 'icons/git-commit', class: 'w-6 h-6 fill-current' %>
        <span class='ml-2'>Commit</span>
      <% end %>
    </nav>
  </body>
</html>
