<!DOCTYPE html>
<html lang='en' class='h-full'>
  <%= render 'layouts/head' %>
  <body class="flex flex-col h-full">
    <%= render 'layouts/flash' %>
    <%= render(Header::Component.new) %>
    <main class="container flex-1">
      <%= yield %>
    </main>

    <div class='container mx-auto flex-shrink-0'>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
