<!DOCTYPE html>
<html lang='en' class='h-full'>
  <%= render 'layouts/head' %>
  <body class='w-full max-w-full'>
    <%= render 'layouts/flash' %>
    <%= render(Header::Component.new) do |header| %>
      <%= header.after_logo_contents do %>
        <span class='mx-4 text-secondary'>|</span>
        <%= link_to @post.publication.name, publication_path(@post.publication), class: 'link text-secondary hover:text-primary link-hover text-sm' %>
      <% end %>
      <%= header.before_user_dropdown do %>
        <div class='mr-8'>
          <% if signed_in? && allowed_to?(:edit?, @post) %>
            <%= link_to 'Edit', publication_edit_draft_path(@post.publication, path: @post.relative_path), class: 'btn btn-primary btn-xs' %>
          <% end %>
        </div>
      <% end %>
    <% end %>
    <main class="container mt-24">
      <%= yield %>
    </main>
  </body>
</html>
