<!DOCTYPE html>
<html lang='en' class='h-full'>
  <%= render 'layouts/head' %>

  <body class="flex flex-col h-full">
    <%= render 'layouts/header' %>

    <section class="container flex-1">
      <div class='w-full mt-32'>
        <div class='flex flex-row -px-8'>
          <div class='w-1/3'>
            <div class='tabs'>
              <% %w[profiles storages blogs].each do |page| %>
                <%= link_to page.humanize, send("settings_#{page}_path"), role: 'tab', class: 'tab', aria: { selected: request.path.include?(page) } %>
              <% end %>
            </div>
          </div>

          <div class='w-2/3 ml-16 flex-shrink-0'>
            <%= yield %>
          </div>
        </div>
      </div>
    </section>

    <div class='container mx-auto flex-shrink-0'>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
