<!DOCTYPE html>
<html lang='en' class='h-full'>
  <%= render 'layouts/head' %>
  <body class="flex flex-col h-full">
    <%= render 'layouts/flash' %>
    <%= render(Header::Component.new) %>

    <main class="container flex-1 pt-24">
      <div class='grid sm:grid-cols-12 grid-cols-1 sm:gap-16 gap-8'>
        <aside class='sm:col-span-3 col-span-1 sm:text-left text-center'>
          <%= render 'users/sidebar', user: @user %>
        </aside>

        <div class='sm:col-span-9 col-span-1'>
          <%= yield %>
        </div>
      </div>
    </main>

    <div class='container mx-auto flex-shrink-0'>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
